.feed {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.totalFeed {
  width: 60%;
}

.scrollableFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBar {
  padding-top: 1vh;
  width: 60%;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-bottom: 2vh;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: x-large;
}

.loading {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  padding-bottom: 2%;
}

@media (max-width: 900px) {
  .titleBar {
    width: 95%;
  }

  .totalFeed {
    width: 95vw;
  }
}
