.photoBlock {
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 15px;
}

.spacePhoto {
  width: 60vw;
  display: inline-block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.descriptionText {
  border: 1px solid rgb(231, 230, 230);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1% 1.5% 1% 1.5%;
  background-color: rgb(231, 230, 230);
}

.dateAndTitle {
  font-size: large;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explanation {
  font-size: small;
  padding-bottom: 1%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.date {
  font-size: smaller;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined:hover {
  color: rgb(211, 23, 23);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.clicked {
  color: rgb(211, 23, 23);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.clicked:hover {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.likeButton {
  padding: 1% 0 1% 0;
}

.btn {
  border: 0;
  box-shadow: 0;
}

@media (max-width: 900px) {
  .photoBlock {
    width: 95%;
    padding-bottom: 1%;
    margin-bottom: 2%;
  }
}
