.photoBlock {
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 15px;
}

.spacePhoto {
  width: 60vw;
  display: inline-block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.descriptionText {
  border: 1px solid rgb(240, 238, 238);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1% 1.5% 1% 1.5%;
  background-color: white;
}

.dateAndTitle {
  font-size: large;
  font-weight: 500;
}

.explanation {
  font-size: small;
  padding-bottom: 1%;
}

.likeButton {
  padding: 1% 0 1% 0;
}

@media (max-width: 900px) {
  .photoBlock {
    width: 95%;
    padding-bottom: 1%;
    margin-bottom: 2%;
  }
}
